<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">

    <script>
        
    </script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter item to add here" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="addItem()">Click to add it</button>
                    </div>
                  </div>                  
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group">
                   
                </ul>
            </div>
        </div>
    </div>
    <script>

        var dict = { }
        var skipped_dict = {}

        var sync
        var timeout

        var update_required = false
        
        function create_UUID(){
            var dt = new Date().getTime();
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = (dt + Math.random()*16)%16 | 0;
                dt = Math.floor(dt/16);
                return (c=='x' ? r :(r&0x3|0x8)).toString(16);
            });
            return uuid;
        };

        function updateLocalStorage(){

            localStorage.setItem('grocery-list',JSON.stringify(dict))
            localStorage.setItem('skipped-list',JSON.stringify(skipped_dict))

        };

        function updateDatabase(){

            var list = JSON.parse( localStorage.getItem('grocery-list') ) 
            $.post("/api/update-list", JSON.stringify(list))

        };

        function ifExists(name){
            for(var key in dict){
                if(name == dict[key]){
                    return true;
                    break;
                }
            }
            return false;
        };

        function addItem() {

            var item_name = $('.form-control').val()

            if(ifExists(item_name)){
                //console.log("value already exists");
            }else if(item_name == ""){
                //console.log("value cannot be blank");
            }else{

                var item_UUID = create_UUID()
                var list = $(".list-group");

                dict[item_UUID] = item_name

                var d = $(document.createElement("div")).addClass("list-group-item lead").text(item_name).attr("id",item_UUID)
                var bg = $(document.createElement("div")).addClass("btn-group float-right")
                var b = $(document.createElement("Button")).addClass("btn btn-outline-primary").text("Got it").click(function(){removeItem(d)})
                var b2 = $(document.createElement("Button")).addClass("btn btn-outline-primary").text("Skipped it").click(function(){skipItem(d)})

                bg.append(b).append(b2)

                d.append(bg)

                list.append(d)

            }

            updateLocalStorage()

            update_required = true

            $(".form-control").val("")

        };

        function addItem2(item_name, item_UUID) {

            if(ifExists(item_name)){
                //console.log("value already exists");
            }else if(item_name == ""){
                //console.log("value cannot be blank");
            }else{

                var list = $(".list-group");

                dict[item_UUID] = item_name

                var d = $(document.createElement("div")).addClass("list-group-item lead").text(item_name).attr("id",item_UUID)
                var bg = $(document.createElement("div")).addClass("btn-group float-right")
                var b = $(document.createElement("Button")).addClass("btn btn-outline-primary").text("Got it").click(function(){removeItem(d)})
                var b2 = $(document.createElement("Button")).addClass("btn btn-outline-primary").text("Skipped it").click(function(){skipItem(d)})

                bg.append(b).append(b2)

                d.append(bg)

                list.append(d)

            }

            updateLocalStorage()

        };

        function displayItem(item_name, UUID) {

            //var item_name = $('.form-control').val()

            if(ifExists(item_name)){
                //console.log("value already exists");
                //two people added the same item
            }else{

                var list = $(".list-group");

                dict[UUID] = item_name

                var d = $(document.createElement("div")).addClass("list-group-item lead").text(item_name).attr("id",UUID)
                var bg = $(document.createElement("div")).addClass("btn-group float-right")
                var b = $(document.createElement("Button")).addClass("btn btn-outline-primary").text("Got it").click(function(){removeItem(d)})
                var b2 = $(document.createElement("Button")).addClass("btn btn-outline-primary").text("Skipped it").click(function(){skipItem(d)})

                bg.append(b).append(b2)

                d.append(bg)

                list.append(d)

            }

            updateLocalStorage()
            $(".form-control").val("")

        };

        function removeItem(item){

            var item = $(item)
            var dict_temp = { };

            for(var key in dict){

                if(key == item.attr("Id")){

                }else{

                    dict_temp[key] = dict[key];
                }
            }

            dict = dict_temp
            updateLocalStorage()

            update_required = true

            item.remove()
        };

        function skipItem(item){

            var item = $(item)
            var dict_temp = { };

            for(var key in dict){

                if(key == item.attr("Id")){

                }else{

                    dict_temp[key] = dict[key];
                }
            }

            skipped_dict[item.attr("Id")] = dict[item.attr("Id")]
            dict = dict_temp
            updateLocalStorage()

            update_required = true

            item.remove()

        }

        function sync(){
            if(update_required){
                updateDatabase()
                update_required = false
            }

            $.get("api/get-list").then(function(e){
                if(e == '{}'){
                //assume there are no items on list remote
                }else{
                    blist = JSON.parse(e);

                    //check remote list difference
                    for (const [key, value] of Object.entries(blist)) {
                        if(!ifExists(blist[key])){
                            addItem2(blist[key], key)
                        }
                    }
                    //check local list difference
                    for(key in dict){
                        if(blist[key] == null){
                            removeItem($('#'+key))
                        }
                    }
                }      
            })

        }

        function syncStart(){
            syncHandle = setInterval(function(){sync()},5000)

            


        }

        function syncStop(){
            clearInterval(syncHandle)
        }

        function initDocument(){

            var alist = JSON.parse( localStorage.getItem('grocery-list') )

            if(alist == null || $.isEmptyObject(alist) ){
                
                $.get("api/get-list").then(function(e){
                   if(e == '{}'){
                    //assume there are no items on list remote
                   }else{
                        
                        alist = JSON.parse(e);
                        for (const [key, value] of Object.entries(alist)) {
                            displayItem(value, key)
                        }
                   }      
                })
            }else{

            }

            $(".form-control").keypress(function(event){if(event.keyCode == 13){addItem()}})

            updateLocalStorage()

        }

    </script>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        $( document ).ready(function() {
            
            initDocument()
            
        });

    </script>
</body>